.bodydash {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #6d7d8a; /* Color de fondo */
    height: 100%;
}

.container {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #6d7d8a; /* Color de fondo */
    display: flex;
    height: 100%;
}

.sidebar {
    width: 250px; /* Ancho del menú cuando está visible */
    background-color: #12243a; /* Color azul oscuro */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    color: white;
    transition: width 0.3s ease, visibility 0.3s ease; /* Transición suave */
    position: absolute;
    height: 100%;
    z-index: 1; /* Para que se superponga al contenido */
    visibility: hidden; /* Invisible por defecto */
    width: 0; /* Ancho inicial 0 */
}

.sidebar.open {
    width: 250px; /* Ancho del menú cuando está desplegado */
    visibility: visible; /* Visible cuando está desplegado */
}

.menu {
    list-style: none;
    padding: 0;
    margin: 50px 0 0 0;
}

.menu li {
    margin: 20px 0;
    font-size: 18px;
}

.menu li:hover {

    cursor: pointer;
    text-decoration: underline;
}

.menu li a {
    color: white; /* Color del texto de los enlaces */
    text-decoration: none; /* Quitar subrayado por defecto */
}

.menu li a:hover {
    text-decoration: underline; /* Subrayar cuando se pasa el ratón */
}

.circle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: white; /* Círculo blanco */
    border-radius: 50%;
    cursor: pointer;
    z-index: 2; /* Se asegura que el botón esté visible */
}

.content {
    width: 100%;
    background-color: #6d7d8a; /* Color de fondo */
    transition: background-color 0.3s ease;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Diseño específico para el perfil */
.profilecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* Fondo blanco para destacar el contenido */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Sombra para efecto visual */
    width: 70%; /* Aumenta el ancho del contenedor */
}

.profileimage {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileimage img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para asegurarse de que la imagen ocupe todo el contenedor circular */
}

.profileinfo {
    flex-grow: 1;
}

.profileinfo input {
    display: block;
    width: 400px; /* Aumentado para que sea más ancho */
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    background-color: #b0b0b0;
    font-size: 16px; /* Texto más grande */
}

.profileinfo button {
    padding: 15px 30px;
    background-color: #1d596b;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
}

.profileinfo button:hover {
    background-color: #1a4e5e;
}

.profileimage span {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: black;
    font-size: 18px; /* Texto de editar más grande */
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    margin: 20px 0;
    font-size: 18px;
    text-decoration: underline; /* Subrayar cuando se pasa el ratón */
    text-decoration: none;
    background-color: #1a4e5e00; /* Color del botón */
    color: white; /* Color del texto */
    padding: 16px; /* Espaciado */
    font-size: 16px; /* Tamaño de fuente */
    border: none; /* Sin borde */
}

.dropdowncontent {
    display: none; /* Ocultar contenido por defecto */
    position: absolute; /* Posicionar el contenido */
    background-color: #1a4e5e; /* Color de fondo */
    min-width: 160px; /* Ancho mínimo */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Sombra */
    z-index: 1; /* Z-index para el contenido */
}

.dropdown:hover .dropdowncontent {
    display: block; /* Mostrar contenido al pasar el ratón */
}
