.registrocontainer {
    background-image: url('../Imagenes/fONDITO.png'); /* Cambia esto a la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
  }
  